h1, h2, h3{
    text-align: center;
}
h1{
    font-size: 3em;
    text-decoration: underline;
}
header{
    width: 100%;
    background-color: red;
    border-bottom: 3px black solid;
}
#sommaireicon{
    border: 1px black solid;
    border-radius: 15%;
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 150px;
    height: 80px;
    margin-left: 92%;
}
h3{
    text-decoration: underline;
    background-color: grey;
}
body{
    background: url('fond.jpg') fixed center;
    background-size: 100%;
}
#top{
    display: flex;
    flex-wrap: nowrap;
}
.sommaire{
    border: 3px black outset;
    background-color: beige;
    width: 30%;
    height: 600px;
    overflow: auto;
    margin: 20px;
    padding: 5px;
}
.text{
    width: 70%;
    height: 600px;
    text-align: justify;
    margin: 20px;
    padding: 5px;
}
.displayicon{
    display: flex;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
#tcmd, th, td{
    margin: auto;
    color: white;
    background-color: black;
    border-collapse: collapse;
    border: 5px grey double;
}
.redtxt{
    color: red;
}
.greentxt{
    color:green;
}
.yellowtxt{
    color:yellow;
}
.bold{
    font-weight: 600;
}